{% extends 'portofolio/base.html' %}

{% block content %}

        <div class="container text-center">
            <h1>This is my blog</h1>
            <!-- Pluralize tag -->
            <h3>I've had written {{ projects.count }} blog{{ projects.count|pluralize }}</h3>
            <p>Have a good time read this bullshit</p>
            <br>
            
            {% for project in projects %}
                <a href="{% url 'blog:details' project.id %}"><h4 class="text-primary">{{ project.title }}</h4></a>
                <!-- Upper & Date tag (search on google: django template date format) -->
                <p class="text-dark">{{ project.date|date:'d F o'|upper }}</p>
                <!-- Safe (to run html tag) and truncate character tag -->
                <p>{{ project.description|safe|truncatechars:100 }}</p>
                <!-- Striptags tag to ignore html tag -->
                <!-- <p>{{ project.description|striptags|truncatechars:100 }}</p> -->
            {% endfor %}

            <a href="{% url 'homepage' %}">Go to Home Page</a>
        </div>

{% endblock %}